@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

body {
  font-family: 'Lato', sans-serif;
  max-width: 100% !important;
}

.home {
  background-image: linear-gradient(180deg, rgba(243, 243, 243, 0.808), rgb(248, 248, 248)), url('assets/background-1.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

nav img {
  width: 2em;
  height: 2.7em;
  margin: 5px auto 30px 0;
  cursor: pointer;
}

.nav-items {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  opacity: 0.2;
  position: fixed;
  top: 40px;
  right: 0;
  list-style: none;
  height: 0;
  width: 100%;
  background: #d3d3d3 !important;
  font-size: 0;
  font-weight: 900;
  gap: 0;
  z-index: 1;
  transition: all 0.4s;
  box-shadow: 0 5px 10px rgba(214, 214, 214, 0.829);
}

.close-cross {
  width: 20px;
  position: absolute;
  left: 30px;
  top: 30px;
  cursor: pointer;
}

.nav-items li a {
  text-decoration: none;
  color: #272a31;
}

.open-nav {
  transition: all 0.4s;
  visibility: visible;
  height: 100vh;
  font-size: large;
  gap: 50px;
  opacity: 1;
  top: 0;
}

.home h5 {
  color: #ec5242;
  font-size: larger;
  font-weight: 400;
  margin-left: 5px;
  line-height: 10px;
}

.home h1 {
  font-size: 2.4em;
  font-weight: 900;
  color: rgba(133, 46, 46, 1);
  margin-left: 10px;
  margin-bottom: 10px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(115deg, rgba(255, 0, 0, 0.8), rgba(255, 136, 0, 0.7), rgba(255, 0, 21, 0.8)), url(assets/background-1.jpeg);
  background-position: center;
}

.description {
  font-size: small;
  border: 3px solid white;
  padding: 15px;
  margin: 10px;
}

.date {
  color: rgb(82, 82, 82);
  font-weight: 900;
  line-height: 2;
  font-size: 1.6em;
}

.location {
  margin-bottom: 50px;
}

.main-program {
  background-image: url(assets/sort.png);
  background-size: 1.6em;
  color: #fff;
  background-color: #272931;
  padding-top: 30px;
}

.hr {
  border-bottom: 1px solid #94432f;
  width: 2.4em;
  margin: 10px auto 30px;
}

.hr-orange {
  border-bottom: 1px solid #ec5242;
  width: 2.4em;
  margin: 10px auto 30px;
}

#main-program-divs {
  background-color: rgba(243, 243, 243, 0.1);
  font-size: small;
  gap: 1.4em;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 90px;
}

#main-program-divs:hover {
  outline: 2px solid #fff;
}

.footer-div img {
  max-width: 200px;
  margin-left: 50px;
}

.partner img {
  width: 3em;
  margin-left: 15px;
  margin-right: 15px;
}

.more img {
  width: 10px;
  align-self: center;
  filter: invert(50%) sepia(100%) saturate(3207%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

.speaker-card img {
  width: 12em;
  height: 12em;
}

#main-program-divs img {
  width: 40px;
  height: 40px;
  filter: invert(0.8);
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}

#main-program-divs h6 {
  color: #ec5242;
  font-weight: 800;
  font-size: medium;
  width: 90px;
  margin: auto;
}

.orange-button {
  border-radius: 0;
  background-color: #fc4a03f1;
  color: #fff;
  border-style: none;
  padding: 1.5em 2.5em;
  font-weight: 500;
  margin: 40px auto;
}

.footer-div p {
  font-size: 0.6em;
  gap: 2em;
}

#main-program-divs p {
  align-self: center;
  margin-bottom: 0;
}

.image-container {
  background: url(assets/speaker-bg.jpeg);
  background-repeat: no-repeat;
  background-size: 50px 50px;
  background-position-x: 2em;
  justify-content: end;
  padding: 0 !important;
  padding-left: 3em !important;
  padding-top: 1em !important;
}

.speaker-card {
  font-size: 9px;
  margin: 20px 0 20px;
  display: none !important;
}

.visible {
  display: flex !important;
}

.speaker-card hr {
  width: 20px;
}

.speaker-job {
  color: #ec5242;
  font-size: 1.3em;
  font-style: italic;
}

.more {
  padding-top: 13px;
  padding-bottom: 13px;
  border: 1px solid rgb(206, 206, 206);
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  width: 94%;
  font-size: 0.8em;
  color: #6a6b6e;
  font-weight: 500;
  gap: 10px;
}

.travel-image-india {
  height: 14em !important;
  color: #fff;
  background-image: linear-gradient(rgba(255, 0, 21, 0.7), rgba(156, 0, 13, 0.7)), url('assets/taj-mahal.jpg');
  background-size: 100% 100%;
  max-width: 40em !important;
  transition: all 0.3s ease-in-out;
}

.travel-image-india:hover {
  background-image: linear-gradient(rgba(255, 0, 21, 0), rgba(0, 156, 60, 0)), url('assets/taj-mahal.jpg');
  color: transparent;
}

.travel-image-pakistan {
  height: 14em !important;
  color: #fff;
  background-image: linear-gradient(rgba(255, 0, 21, 0.7), rgba(156, 0, 13, 0.7)), url('assets/pakistan.jpg');
  background-size: 100% 100%;
  max-width: 40em !important;
  transition: all 0.3s ease-in-out;
}

.travel-image-pakistan:hover {
  background-image: url('assets/pakistan.jpg');
  color: transparent;
}

.partner {
  background-color: #414246;
}

.row-1 {
  margin-bottom: 20px;
}

.about {
  background-image: linear-gradient(0deg, rgba(243, 243, 243, 0.8), rgba(248, 248, 248, 0.8)), url('assets/Home-bg.webp');
  background-repeat: no-repeat;
  background-position-x: middle;
  background-size: cover;
}

.about h1 {
  font-weight: 800;
  font-size: 2.5em;
  color: #ff1c11;
}

.fs-tiny {
  font-size: 0.8em;
}

.footer-div {
  gap: 1em;
}

.logo-container {
  visibility: hidden;
}

.nav-logo {
  width: 4em;
}

.partners {
  display: none;
}

#hidden {
  display: none !important;
}

.nav-links {
  display: none;
  z-index: 1;
}

@media only screen and (min-width: 768px) {
  .nav-items {
    visibility: visible;
    height: 12vh;
    font-size: small;
    opacity: 1;
    gap: 5%;
    flex-direction: row;
    background: #fff !important;
  }

  .close-cross {
    visibility: hidden;
  }

  .hamburger-container {
    visibility: hidden;
  }

  .li-1 a,
  .li-6 a {
    color: rgb(252, 37, 37) !important;
  }

  .logo-container {
    margin-right: 15%;
    visibility: visible;
  }

  .li-6 {
    border: 3px solid red;
    padding: 0.5em;
  }

  #home-section {
    padding: 8% 10% !important;
    font-size: 3em;
  }

  .travel-img-container div {
    margin: 0 !important;
    padding: 0 !important;
    width: 30%;
    height: 200px;
  }

  #home-section div {
    max-width: 60%;
    margin-left: 0;
    font-size: 0.3em;
  }

  .date {
    font-size: 2rem;
  }

  .program-container {
    display: flex;
    justify-content: center !important;
    width: 80%;
    margin: 3% auto;
  }

  #main-program-divs {
    width: 25%;
    height: 20em;
    margin: 0.15% !important;
    box-sizing: border-box;
    display: grid !important;
    grid-template-rows: 60px 50px 60px !important;
  }

  #main-program-divs h6 {
    font-size: 1.7em !important;
    font-weight: 900 !important;
  }

  .logo-section h5 br {
    display: none;
  }

  body p {
    font-size: 1em !important;
  }

  #main-program-divs p,
  #main-program-divs h6 {
    text-align: center;
    margin: 0 auto;
  }

  #main-program-divs p {
    font-size: 1em;
  }

  .main-program h5 {
    font-size: 2em;
    margin-top: 10px;
  }

  .hr,
  .hr-orange {
    width: 4%;
  }

  .orange-button {
    padding: 0;
    background-color: transparent;
    margin-bottom: 90px;
    text-decoration: underline grey 3px;
  }

  #freatured-speakers {
    padding: 20px 10% !important;
    display: flex !important;
    flex-wrap: wrap !important;
  }

  .speaker-card {
    display: flex !important;
    max-width: 50%;
    align-items: center;
    background-size: 100%;
  }

  .more {
    display: none;
  }

  #featured-speakers {
    display: flex !important;
    flex-wrap: wrap !important;
    padding: 40px 15%;
  }

  .nav-links li img {
    width: 20px;
  }

  .partners .text-secondary div img {
    margin-left: 2.5%;
    margin-right: 2.5%;
  }

  #featured-speakers img {
    width: 90%;
    height: 100%;
  }

  #featured-speakers p {
    font-size: 1.3em;
  }

  .partners {
    display: block;
    gap: 40px;
  }

  #hidden {
    display: flex !important;
    background: linear-gradient(rgb(238, 229, 229), rgb(236, 236, 236));
    padding-left: 10% !important;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 1.5em;
  }

  #hidden img {
    width: 25%;
    margin-right: 5%;
  }

  .featured-speakers-hx {
    font-size: 2em;
    font-weight: bold;
    margin-top: 50px;
  }

  .nav-links {
    position: fixed;
    top: 0;
    display: flex;
    height: 40px;
    width: 100%;
    align-items: center;
    list-style: none;
    justify-content: flex-end;
    background-color: #313131;
    color: #fff;
    padding-right: 10%;
    gap: 3%;
    font-weight: bold;
  }

  .about h1 {
    font-size: 4em;
    margin-top: 90px;
    border-bottom: 2px 20px solid orange;
  }

  .about h1::after {
    content: "";
    border: 2px solid orange;
    display: block;
    width: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }

  .description {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .logo-section h5 {
    font-size: 2em;
  }

  .past-travels h5 {
    font-size: 2em;
  }

  .travel-img-container {
    height: 300px !important;
    width: 100% !important;
    justify-content: center;
    align-items: center;
    gap: 25px;
    display: flex;
    flex-direction: row !important;
  }

  .partner-about {
    display: none;
  }

  #footer-div-about {
    color: #fff;
    background: #272a31;
    height: 200px;
    padding-left: 15% !important;
  }

  #footer-div-about img {
    width: 200px;
    height: 90px !important;
    filter: invert(1);
  }

  .about h5 {
    display: none;
  }
}
